table {
	/* 表格的宽度与top一样 */
	width: 1000px;
	font-size: 15px;

	border-spacing: 0;
	margin-bottom: 30px;
}

td {
	color: #000;
	line-height: 30px;
	border-top: 2px solid #f4cd8a;


	/* 字体居中对齐 */
	text-align: center;
}

th {
	background-color: #FED68F;
}

form {
	font-size: 15px;
	text-align: left;
	
	padding: 0 30px;
	line-height: 30px;

}
